<!-- registration/password_reset_form.html -->

{% extends 'Login/index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="new-password-container">
      <div class="pass-text"><h1>Reset Password</h1></div>
          <form method="POST">
            {% csrf_token %}
            
            {{ form }}
            <button type="submit">Reset password</button>
          </form>
      </div>
  </body>
</html>
{% endblock content %}
